# Classify all Python files as Python
*.py linguist-language=Python

# Force Fortran files in peslib to be classified as Python
peslib/*.f90 linguist-language=Python
peslib/*.f linguist-language=Python
peslib/*.for linguist-language=Python


